body{
	width: 100%;
	background: #238BB9;
	color: #000000;
    font-weight: 300;
    font-size: 13px;
}
header{
	width: 96%;
	font-size: 9px;
	font-family: albertus medium;
    text-align: center;
    background: #BDDDEA;
    border-bottom: #95a5a6 dashed 1px;
    padding: 7px;
	background-image: url("../img/logo2.png");
	background-size: 18%;
    background-repeat: no-repeat;
    background-position: 4% 20%;
	border: 1px solid black
}
header h1{
    font-family: albertus medium;
	color: #008450;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
header p{
    padding: 0px;
    margin-top: 2px;
    color: #000000;
}
h3{
    font-family: albertus medium;
    font-weight: 500;
}
footer{
	font-family: albertus medium;
	color: #008450;
    text-align: center;
}
#myform {
	font-family: calibri;
}
input[type='submit']{
	border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 2px 6px;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.a {
	position:absolute;
	display: inline-block;
	width: 100%;
}
.c {
	position: absolute;
	display: inline-block;
	float: left;
	top: 5px;
	left: 15px;
	text-align: center;
	font-weight: 500;
	width: 12%;
	height: 90%;
}
.c li a {display: block;padding: 2px;color: #000000;}

#menu {
	list-style: none;
	margin: 0px;
    background: #BDDDEA;
    padding: 0px;
	border: 1px solid black
	
}
#menu li a:hover{
	background: #008450;
    color: #fff;
	}
#menu li a {
	font-family: albertus medium;
    color: #008450;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 5px 3px 3px 10px;
}
#hidem,#showm{display:none;}
#container{
    width: 60%;
    background: #f8f8ff;
    margin: 10px auto;
    overflow: auto;
    padding: 5px;
    margin-top: -0.5%;
    border: 2px solid black;
}
#resultadosDiv h3{
    background: #e74c3c;
    text-align: center;
    padding: 7px 10px;
}

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 23px 23px 10px;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 2px 5px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 7px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 3px 3px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

#instrucciones {
	margin-left: 10px;
	padding: 5px;	
}
#cerrar {
	position: relative;
	width: 75%;
	left: 46%;
	top: 25%;
	text-align: left;
}